# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/
env/

# Database
db.sqlite3

# Media
media/

# VS Code
.vscode/

# Environment Variables
.env

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db