{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

<div class="card shadow">

<div class="card-header bg-danger text-white">

<h3>Delete Student</h3>

</div>

<div class="card-body">

<h4>

Are you sure you want to delete

<strong>{{ student.name }}</strong>?

</h4>

<form method="POST">

{% csrf_token %}

<button class="btn btn-danger">

Delete

</button>

<a href="/students/" class="btn btn-secondary">

Cancel

</a>

</form>

</div>

</div>

</div>

{% endblock %}